
<h1 class='text-center h1'>Vista productos</h1>
<div class='container'>

    <table class='table table-striped text-center'>
        <thead class='table-dark'>
            <tr>
                <th scope='col'>ID</th>
                <th scope='col'>Title</th>
                <th scope='col'>Price</th>
                <th scope='col'>Stock</th>
                <th scope='col'>Thumbnail</th>
            </tr>
        </thead>
        {{#each product}}
            <tbody>

                <tr>
                    <th scope='row'>{{this.id}}</th>
                    <td class='text-capitalize' >{{this.title}}</td>
                    <td>${{this.price}}</td>
                    <td>${{this.stock}}</td>
                    <td><img
                            src='{{this.thumbnail}}'
                            alt='{{this.title}}'
                            class='img_thumbnail'
                            
                        /></td>

                </tr>
                
            </tbody>
        {{else}}
            <h1 class='h1 text-center m-5 bg-danger'>No hay productos</h1>
        {{/each}}
    </table>

</div>